/** Nav Bar CSS */

.navbar {
    background-color: rgba(0, 0, 0, 0.855) !important;
    width: auto !important;

}
.logo {
    max-width: 4% !important;
    margin-left: 2% !important;
}

.nav-button {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 1vw !important;
    margin-left: 6% !important;
    margin-right: 6% !important;
}

.nav-button:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgb(255, 0, 0) !important;
    font-weight: bolder !important;
}

.nav-button:active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgb(231, 155, 155) !important;
    font-weight: bolder !important;

}

.login-button {
    background-color: rgb(120, 2, 2) !important;
    font-weight: bolder !important;
    border-color: red !important;
    font-size: 1vw !important;
    margin-left: 5% !important;
    margin-right: 5% !important;

}

.login-button:hover {
    background-color: rgb(142, 45, 45) !important;
    border-color: rgb(230, 109, 109) !important;
}

.login-button:active {
    background-color: rgb(142, 45, 45) !important;
    border-color: rgb(230, 109, 109) !important;
}

/** WebColors */
.black {
    background-color: rgb(0, 0, 0) !important;
    color: white !important
}

.white {
    background-color: rgb(228, 227, 227) !important;
    color: black !important;
}

.red_1 {
    background-color: rgba(161, 20, 27, 0.975) !important;
    color: white !important
}

.red_2 {
    background-color: rgb(117, 28, 28) !important;
    color: white !important
}

.red_3 {
    background-color: rgb(253, 0, 0);
    color: white !important
}

.grey {
    background-color: rgb(22, 22, 22) !important;
    color: rgb(255, 255, 255);
}

/** Fonts */
.fonts-style {
    font-family: 'Nanum Gothic Coding', monospace !important;
    letter-spacing: 6px !important;
}

.font-small {
    font-size: 1vw !important;
}

.font-large {
    font-size: 2vw !important;
}

.font-regular {
    font-size: 1.5vw !important;
}

.yo {
    max-width: 60% !important;
    margin-left: 20% !important;
}

/** HomeScreen */

.yT {
    margin-right: 3% !important;
    height: 100% !important;
    width: 30% !important;
}

.zoom {
    overflow: hidden !important;
    margin: 0 0 !important;

}

.zoom img {
    width: 90% !important;
    transition: 0.5s all ease-in-out !important;
    
}

.zoom:hover img {
    transform: scale(1.1) !important;
    border-radius: 0% !important;
    
}
.cool {
    background-color: rgb(0, 0, 0) !important;
    background-image: url("../LUCA_Images/Gallery3.jpg") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    font-family: 'Kaisei Opti', serif;
    font-weight:bolder !important; 
    text-align: center !important;
    background-position: center !important;
    padding: 20% 0% 23% 0% !important;
    margin-top: 5% !important;
    margin-bottom: 2% !important;

}

/**Featured*/

.red-text {
    color: rgb(207, 4, 4) !important;
    margin-bottom: 5% !important;
    font-weight: bolder;
}

/**Buttons*/

.social-icons {
    background-repeat: no-repeat !important;
    background-color: transparent;
    border: none !important;
    height: 8% !important;
    width: 20% !important;
    padding: 1% !important; 
    float: left !important;
}

.social-icons:hover {
    border: none !important;
   
}

.social-icons:active {
    background-color: transparent;
    border-color: black !important;
}

.insta {
    background-image: url(../LUCA_Images/icons/insta.png) !important;  
    background-size: 100% 100%;
}

.facebook {
    background-image: url(../LUCA_Images/icons/FB.png) !important;
    background-size: 100% 100%;
}

.gitHub {
    background-image: url(../LUCA_Images/icons/GitHub.png) !important;
    background-size: 100% 100%;
}


.login {
    border-color: black !important;
    height: fit-content !important;
    padding: 15% 7% 5% 7% !important;
}

.login-image {
    width: 70% !important;
    margin-left: 16% !important;
    margin-bottom: 10% !important;
}


/**Extra Space N Such */


.bottom-margin {
    margin-bottom: 3% !important;
}

.top-margin {
    margin-top: 3% !important;
}

.extra-padding {
    padding: 2% 0% 2% 0% !important;
}

.spacer {
    height: 1% !important;
}

.carousel-indicators [data-bs-target] {
    background-color: rgba(107, 21, 4, 0);
}

.tab-text {
    text-indent: 10% !important;

}

.to-left {
    float: left !important;
    margin-right: 10% !important;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    margin-top: var(--bs-gutter-y);
}

.card-background {
    background-color: rgba(0, 0, 0, 0.801) !important;
    padding: 40px !important;
    margin-bottom: 7% !important;
    border-style: double;
    border-left: transparent;
    border-right: transparent;
    max-width: 90% !important;
    margin-left: 5% !important;
    box-shadow: 5px 5px 20px 10px rgba(188, 188, 188, 0.645);
}

.news-background {
    background-image: url("../LUCA_Images/chekered.png");
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
  
   
}

.news-div {
    width: 100% !important;
    padding: 5% !important;
    font-family: 'Kaisei Opti', serif !important;

}

.parallax {
    /* The image used */
    background-image: url("../LUCA_Images/chekered.png");

    /* Full height */
    height: 23%;
    
    padding-top: 0%;
    padding-bottom: 3% !important;
    margin-top: 1% !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.event-back {
    background-color: rgba(0, 0, 0, 0.818) !important;
}


.read-text{
    font-family: 'Nanum Gothic Coding', monospace !important;
    letter-spacing: 0.2ch !important;
    border-right: rgba(255, 255, 255, 0)!important;
    border-left: rgba(255, 255, 255, 0) !important;
    margin-top: 3% !important;
    color: rgb(255, 255, 255);
   
   
}

.text-center{
    text-align: center !important;
}
.event1{
margin-left: 3% !important;

}
.event-container{
 position: relative;
 width: 23%;
}
.event-pic{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 2px 3px 20px 1px rgba(34, 34, 34, 0.854);
}
.event-button{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none !important;
    width: 65%;
   
    
}
.event-container:hover .event-pic{
    opacity: 0.3;
}
.event-container:hover .event-button{
    opacity: 2.5;
   
}
.event-text{
    background-color: #821203d7;
    color: white;
    font-size: 65%;
    padding: 5%;
    border-style: groove;
    border-color: rgb(97, 1, 1);
    letter-spacing: 0.5ch !important;
}

.event-text:active{
    padding: 10px 26px;
    color: rgb(191, 8, 8) !important; 

}
.team-div{
    height: 30%;
    padding: 7% !important;
    padding-top: 4% !important;
    text-align: center;
}
.team-div1{
    width: 25%;
    height: 30% !important; 
    padding: 2% !important;
    padding-top: 0% !important;
  margin-right: 8% !important;
  
}
.team-person{
   width: 100%;
    border-radius:50% !important; 
    margin-bottom: 5% !important;
    box-shadow: 4px 4px 15px 0px rgba(32, 32, 32, 0.877);
    
}

.to-left{
 float: left;
}
.to-right{
    float: right;
}
.team-name{
    font-weight:800 !important;
    font-size: 2vh;
    letter-spacing: 0ch;
}
.team-description{
    font-size: 1.5vh;
    letter-spacing: 0.2ch;
}
.team-title{
    margin-bottom: 6.5% !important;
    font-size: 3.5vh;
    font-weight: 700;
}

.motto-design{
    background-color: rgba(0, 0, 0, 0.863);
    padding: 3% 11% 2% 11% !important;
    margin-top: 4% !important; 
    width: 90% !important;
    margin-left: 5% !important;
    box-shadow: 20px 20px 50px 10px rgba(165, 165, 165, 0.667);
  
}

.group-div{
    width: 30%; 

    margin-left: 13%;
    border-radius: 10% !important;
    box-shadow: 5px 5px 30px 5px rgba(41, 41, 41, 0.263);
}
.groups-pic{
    width: 100%;
    border-radius: 20% !important;
    padding: 6% !important;
}
.news-text{
width: 40% !important;
float: left;
letter-spacing: 0.2ch;
}
.news-pic {
    width: 30% !important;
    background-color: rgb(255, 255, 255) !important;
    float: left !important;
    margin-right: 5% !important;
    margin-left: 14% !important;
}

.footer-div{
 
  width: 27% !important;

  margin-left: 41.5% !important;
}