/** Nav Bar CSS */

.navbar {
    background-color: rgba(0, 0, 0, 0.855) !important;
    width: auto !important;

}

.logo {
    max-width: 4% !important;
    margin-left: 2% !important;
}

/** Fonts */
.fonts-style {
    font-family: 'Source Code Pro', monospace;
}

.font-small {
    font-size: 1vw !important;
}

.font-large {
    font-size: 2vw !important;
}

.font-regular {
    font-size: 1.5vw !important;
}

.strong {
    color: rgb(166, 19, 19) !important;
}

.strong:hover {
    color: rgb(241, 59, 59) !important;
    font-weight: bolder !important;
}

.hr:not([size]) {
    height: 5px;
    width: 80%;
    align-self: center;
    margin-left: 10%;
}

.yo {
    max-width: 60% !important;
    margin-left: 20% !important;
}

/** HomeScreen */

.card {
    background-color: black !important;
}

.HS-Image {
    max-width: 20% !important;
    margin-right: 5% !important;
    margin-left: 8% !important;
    float: left !important;
}


.carousel-pics {
    width: 100% !important;
}


.event {
    max-width: 15% !important;
    margin-right: 2% !important;
    border-radius: 0% !important;
}

.yT {
    margin-right: 3% !important;
    height: 100% !important;
    width: 30% !important;
}

.zoom {
    overflow: hidden !important;
    margin: 0 auto !important;
}

.zoom img {
    width: 95% !important;
    transition: 0.5s all ease-in-out !important;
}

.zoom:hover img {
    transform: scale(1.5) !important;
}
/**Featured*/
.featured{
   float: left !important;
  
}
/** WebColors */
.black {
    background-color: rgb(0, 0, 0) !important;
    color: white !important
}

.white {
    background-color: rgb(228, 227, 227) !important;
    color: black !important;
}

.red_1 {
    background-color: rgb(146, 29, 8) !important;
    color: white !important
}

.red_2 {
    background-color: rgb(117, 28, 28) !important;
    color: white !important
}

.red_3 {
    background-color: rgb(253, 0, 0);
    color: white !important
}

.grey {
    background-color: rgb(156, 156, 156) !important;
    color: rgb(33, 27, 27);
}

/**Buttons*/

.nav-button {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 1vw !important;
    margin-left: 6% !important;
    margin-right: 6% !important;
}

.nav-button:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgb(255, 0, 0) !important;
    font-weight: bolder !important;
}

.nav-button:active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgb(231, 155, 155) !important;
    font-weight: bolder !important;

}

.login-button {
    background-color: rgb(120, 2, 2) !important;
    font-weight: bolder !important;
    border-color: red !important;
    font-size: 1vw !important;
    margin-left: 5% !important;
    margin-right: 5% !important;

}

.login-button:hover {
    background-color: rgb(142, 45, 45) !important;
    border-color: rgb(230, 109, 109) !important;
}

.login-button:active {
    background-color: rgb(142, 45, 45) !important;
    border-color: rgb(230, 109, 109) !important;
}


.card-button {
    width: 100% !important;
    background-color: rgba(143, 6, 6, 0.316) !important;
    border-radius: 0% !important;
    border-color: rgb(224, 9, 9);
}

.card-button:hover {
    background-color: rgba(143, 6, 6, 0.746) !important;
    border-color: rgb(81, 2, 2) !important;
}

.social-icons {
    background-repeat: no-repeat !important;
    background-color: transparent;
    border: none !important;
    height: 40px;
    width: 50px;
    background-size: 60% 60% !important;
    margin-right: 1% !important;
    padding: 0px 0px 0px 0px !important;

}
.social-icons:hover {

    background-color: transparent;
    border: none !important;

}

.social-icons:active {
    background-color: transparent;
    border: none !important;
}

.insta {
    background-image: url(../LUCA_Images/icons/insta.png) !important;
    margin-left: 45% !important;
    margin-top: 1% !important;
}

.facebook {
    background-image: url(../LUCA_Images/icons/FB.png) !important;
    margin-top: 1% !important;
}
.gitHub{
    background-image: url(../LUCA_Images/icons/GitHub.png) !important;
    margin-top: 1% !important;
}

.center-contents {
    align-self: center !important;
}

.login {
    border-color: black !important;
    height: fit-content !important;
    padding: 15% 7% 5% 7% !important;
}

.login-image {
    width: 70% !important;
    margin-left: 16% !important;
    margin-bottom: 10% !important;
}

.text-button {
    background-color: transparent !important;
    border: none !important;
    font-weight: bolder !important;
    color: rgba(91, 88, 88, 0.806) !important;
}


/**Extra Space N Such */

.container-float {
    margin-left: 20%;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.bottom-margin {
    margin-bottom: 3% !important;
}

.top-margin {
    margin-top: 3% !important;
}

.extra-padding {
    padding: 7% 0% 5% 0% !important;
}
.extraText-padding {
    margin-top: 7% !important;
}

.row>* {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.spacer {
    height: 1% !important;
}
.picture{
    width: 100% !important;
    border-radius: 50% !important;
}
.news-pic{
    width: 33% !important;
    border-radius: 25% !important;
    background-color: rgb(255, 255, 255) !important;
    float: left !important;
}

.news-text{
    width: 55% !important;
    height: 50% !important;
    margin-top: 1% !important;
   margin-left: 35% !important;
    
}
.red-text{
    color: rgb(207, 4, 4) !important;
    font-weight: bolder;
}
.carousel-indicators [data-bs-target]{
    background-color: rgba(107, 21, 4, 0);
}
.tab-text{
    text-indent: 20% !important;
}
.sponser-link{
    width: 20% !important;
    height: 20% !important;
    margin-right: 10% !important
}
.sponser-link:hover{
    box-shadow: rgb(48, 1, 1) !important;
    -webkit-filter: brightness(130%)
}
.clubs-picture{
    width: 20% !important;
    border-radius: 25% !important;
    
}
.to-left{
    float: left !important;
    margin-right: 10% !important;
}
.curved-container{
    border-radius: 10% !important;
    width: 35% !important;
    height: 10% !important;
}
.localClubs{
    
}
.localClubs:hover{

}